* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit; /* herda a cor do pai */
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

.header--bg {
    background-color: #000000;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header__link {
    display: inline-block;
    padding: 16px 0;
    color: #ffffff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.header__link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: .3s;
    position: absolute;
}

.header__link:hover::after {
    width: 100%;
}

.introducao {
    box-shadow: inset 0 -120px #ffffff;
}

.introducao--bg {
    background-color: #000000;
    color: #ffffff;
}

.introducao__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
}

.introducao__content {
    align-self: end;
    padding-bottom: 200px;
}

.introducao__title {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 32px;
}

.introducao__title span {
    color: #FFBB00;
}

.introducao__desc {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #B2B2B2;
}

.introducao__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 217px;
    height: 56px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.333;
    text-transform: uppercase;
    font-weight: 600;
    color: #332200;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.introducao__btn:hover {
    background: linear-gradient(180deg, #FFB60D 0%, #E59317 100%);
}

.introducao__img {
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1200px) {
    .introducao__title {
        font-size: 3rem;
    }

    .introducao__desc {
        font-size: 1.125rem;
    }
}

@media(max-width: 800px) {
    .header__menu {
        gap: 20px;
    }
    .header__link {
        background-color: #111111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header__link:hover {
        background-color: #2E2E2E;
    }

    .header__link:after {
        display: none;
    }

    .introducao {
        box-shadow: inset 0 -60px #ffffff;
    }

    .introducao--bg {
        background-color: #111111;
        padding-top: 40px;
    }

    .introducao__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao__content {
        padding-bottom: 0px;
    }

    .introducao__title {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .introducao__img {
        height: 300px;
        width: 100%;
    }
}

@media(max-width: 600px) {
    .header__menu {
        gap: 12px
    }

    .header__link {
        padding: 8px 12px;
        font-size: 14px;
    }

    .introducao__btn {
        width: 100%;
        font-size: 1rem;
    }
}