.bicicletas {
    padding: 120px 0;
}

.bicicletas__title {
    margin-bottom: 40px;
}

.bicicletas__title span{
    color: var(--cor-p1);
}

.bicicletas__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

    overflow-x: auto;
}

.bicicletas__list-item {
    flex: 1;
    min-width: 280px;
}

.bicicletas__link {
    display: block;
}

.bicicletas__link:hover .bicicletas__link-title::before{
    width: 24px;
}

.bicicletas__link-img {
    margin-bottom: 16px;
}

.bicicletas__link-title {
    margin-bottom: 8px;

    display: flex;
    align-items: center;
}

.bicicletas__link-title::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 8px;
    background-color: var(--cor-p1);
    transition: 0.3s;
}

.bicicletas__link-price {
    color: var(--cor-8);
    padding-left: 20px;
}