.introducao {
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao--bg {
    background-color: var(--cor-12);
}

.introducao__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    padding: 0px 20px;
    margin: auto;
}

.introducao__content {
    align-self: end;
    padding-bottom: 200px;
}

.introducao__title {
    margin-bottom: 32px;
}

.introducao__title span{
    color: var(--cor-p1);
}

.introducao__desc {
    margin-bottom: 20px;
}

.introducao__img {
    height: 100%;
    object-fit: cover;
}


@media(max-width: 800px) {
    .introducao {
        box-shadow: inset 0 -60px var(--cor-0);
    }

    .introducao--bg {
        background-color: var(--cor-11);
        padding-top: 40px;
    }

    .introducao__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao__content {
        padding-bottom: 0px;
    }

    .introducao__title {
        margin-bottom: 16px;
    }

    .introducao__img {
        height: 300px;
        width: 100%;
    }
}