.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 217px;
    height: 56px;

    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    text-transform: uppercase;

    color: #332200;
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.btn:hover {
    background: linear-gradient(180deg, #FFB60D 0%, #E59317 100%);
}

@media(max-width: 600px) {
    .introducao__btn {
        width: 100%;
        font-size: 1rem;
    }
}