.header--bg {
    background-color: #000000;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header__link {
    display: inline-block;
    padding: 16px 0;
    color: #ffffff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.header__link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #ffffff;
    transition: .3s;
    position: absolute;
}

.header__link:hover::after {
    width: 100%;
}

@media(max-width: 800px) {
    .header__menu {
        gap: 20px;
    }
    .header__link {
        background-color: #111111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header__link:hover {
        background-color: #2E2E2E;
    }

    .header__link:after {
        display: none;
    }
}

@media(max-width: 600px) {
    .header__menu {
        gap: 12px
    }

    .header__link {
        padding: 8px 12px;
        font-size: 14px;
    }
}