.header--bg {
    background-color: var(--cor-12);
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header__link {
    display: inline-block;
    padding: 16px 0;
    color: var(--cor-0);
    position: relative;
}

.header__link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--cor-0);
    transition: .3s;
    position: absolute;
}

.header__link:hover::after {
    width: 100%;
}

@media(max-width: 800px) {
    .header__menu {
        gap: 20px;
    }
    .header__link {
        background-color: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header__link:hover {
        background-color: var(--cor-10);
    }

    .header__link:after {
        display: none;
    }
}

@media(max-width: 600px) {
    .header__menu {
        gap: 12px
    }

    .header__link {
        padding: 8px 12px;
        font-size: 14px;
    }
}